/* https://github.com/microsoft/cascadia-code */
@font-face {
  font-family: "Cascadia";
  src: url("Cascadia.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Assistant";
  src: url("Assistant-Regular.woff2");
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "Assistant";
  src: url("Assistant-Medium.woff2");
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: "Assistant";
  src: url("Assistant-SemiBold.woff2");
  font-display: swap;
  font-weight: 600;
}
@font-face {
  font-family: "Assistant";
  src: url("Assistant-Bold.woff2");
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: "HandWritingFont";
  src: url("NanumHardHand.ttf");
  font-display: swap;
}

@font-face {
  font-family: "NormalFont";
  /* src: url("NanumHardHand.ttf"); */
  src: url("NanumSquareNeoTTF-aLt.woff2");
  font-display: swap;
}

@font-face {
  font-family: "NanumElemental";
  src: url("NanumElemental.ttf");
  font-display: swap;
}

@font-face {
  font-family: "NanumSquareRound";
  src: url("NanumSquareRoundL.ttf");
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "NanumSquareRound";
  src: url("NanumSquareRoundR.ttf");
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: "NanumSquareRound";
  src: url("NanumSquareRoundB.ttf");
  font-display: swap;
  font-weight: 800;
}

@font-face {
  font-family: "NanumSquareNeo";
  src: url("NanumSquareNeoTTF-bRg.woff2");
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "NanumSquareNeo";
  src: url("NanumSquareNeoTTF-cBd.woff2");
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: "NanumSquareNeo";
  src: url("NanumSquareNeoTTF-dEb.woff2");
  font-display: swap;
  font-weight: 800;
}